body {
  margin: 0;
  padding: 0;
}

#photos img {
  width: 100%;
  height: auto;
  display: block;
}

.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1000px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 400px) {
  .photo-grid {
    grid-template-columns: 1fr;
  }
}
